@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Controllers
@using Merchello.Core
@using Merchello.Web

@{
    Layout = "RosettaBasePage.cshtml";
    
}

<!-- Quick and easy way to check whether the current shopping basket is empty. -->
<!-- This only works if you inherit from the MerchelloTemplatePage -->
@if (CurrentCustomer.Basket().IsEmpty)
{
    Response.Redirect("/");
}

@if (CurrentPage.HasValue("instructionHeading"))
{
    <h2>@CurrentPage.instructionHeading<br /><small>@CurrentPage.instructionTagLine</small></h2>
}

<div class="bs-docs-example">
    
    @using (Html.BeginUmbracoForm<CheckoutController>("SaveAddress", new { area = "RosettaStone"}, new { @class="form form-horizontal", role = "form"}))
    {
    
        @Html.Action("RenderAddressForm", "Checkout", new { area = "RosettaStone", addressType = AddressType.Shipping })
        
        
        <div class="text-right">
            <input type="submit" value="Proceed to Step 2 (Get Shipping Rate Quotes)" class="btn btn-primary"/>
        </div>
    }

</div>

<div class="hero-spacer">

@CurrentPage.instruction
    
</div>

@section ViewList
{
    @RosettaHelper.GetViewBoxHtml("RosettaCheckout1Address.cshtml","Going to add documentation.")
    @RosettaHelper.GetViewBoxHtml("Partials/CheckoutStep1Address.cshtml","Partial View. Documentation...")

}

@section AddJs
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
}
