@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Web

@{
    Layout = "StoreBasePage.cshtml";

    var product = @Merchello.Product(CurrentPage.merchelloProduct);
}

<h3>@Merchello.Product(CurrentPage.merchelloProduct).Name</h3>
<p>@CurrentPage.productDescription</p>

<p>Price: @Merchello.Product(@CurrentPage.merchelloProduct).Price</p>


@Html.Action("RenderAddToCart", "Basket", new { area = "Site", product = product })