@inherits Merchello.Web.Mvc.MerchelloViewPage<AddItemModel>
@using Site.Controllers
@using Site.Models

<section id="addtocart_partial">

    <p class="documentation"><strong>RosettaAddToCart.cshtml (partial view)</strong><br />
    </p>

@{
    var product = Merchello.Product(Model.ProductKey);

    <!--- If there are option variants, display them as a drop down -->
    using(Html.BeginUmbracoForm<BasketController>("AddToBasket", Model))
    {
        if (product.ProductOptions.Any())
        {
            var index = 0;
            foreach (var option in product.ProductOptions)
            {
                var choices = option.Choices.OrderBy(x => x.SortOrder).Select(choice => new SelectListItem()
                    {
                        Value = choice.Key.ToString(), Text = choice.Name
                    }).ToList();
                choices.First().Selected = true;
                <label class="pseudo dropdown" for="@option.Name.ToLower().Replace(" ", "-")">
                    @option.Name

                    @Html.ValidationMessageFor(x => x.OptionChoices, "Please select one")
                    @Html.DropDownListFor(x => x.OptionChoices[index], choices, new { name = option.Name.ToLower().Replace(" ", "-"), id = option.Key, @class="ProductVariants", OnChange = "merch.merchProducts.getUpdatedVariants(this)" })
                    
                </label>

                index = index + 1;
            }
        }
       
        @Html.HiddenFor(x => x.ContentId)
        @Html.HiddenFor(x => x.ProductKey)        
        <input type="submit" value="Add to Basket"/>
    }
}

</section>